<div class="d-flex w-100 position-relative">
  
  <app-sidebar #sidebarRef></app-sidebar>

  <div class="d-flex flex-column flex-grow-1 min-vh-100">
    
    <header class="d-flex justify-content-between align-items-center p-4 bg-white sticky-top shadow-sm border-bottom">
      
      <div class="d-flex align-items-center gap-3">
        <button 
          class="btn btn-light d-md-none text-orange border-0 shadow-sm rounded-3" 
          (click)="sidebarRef.toggleMobile()">
          <i class="bi bi-list fs-4"></i>
        </button>

        <h3 class="fw-bold text-orange m-0 title-responsive">Mission Smart Viman Nagar</h3>
      </div>
      
      <div class="d-flex align-items-center gap-3">
        
        <div class="date-badge p-2 px-3 d-none d-sm-flex align-items-center gap-2 rounded-3">
          <i class="bi bi-calendar text-orange"></i>
          <span class="fw-bold text-orange small">{{ currentDate | date: 'dd/MM/yyyy' }}</span>
        </div>

        <!-- <button class="btn btn-light rounded-circle shadow-sm position-relative icon-btn">
          <i class="bi bi-bell fs-5"></i>
        </button> -->

        <a class="profile-link d-inline-block">  <!-- routerLink="/profile"  -->
           <img src="assets/logo/admin-profile-logo.png" class="rounded-circle border-orange shadow-sm avatar-img" alt="Admin Avatar">
        </a>

      </div>
    </header>

    <main class="p-3 p-md-4 bg-dashboard-light flex-grow-1">
      <router-outlet></router-outlet> 
    </main>

  </div>
</div>

